
@bg: #ffffff;
@linkBg: #EEEEF0;
@text: #222525;
@highlight: #222222;
@border: #CCCCCC;
@codeBg: darken(@bg, 1%);

.serif {
    font-family: "Crimson Text", Georgia, serif;
}
.sans {
    font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
}
// For code blocks
.monospace1 {
    font-family: "Inconsolata", Monaco, Consolas, monospace;
}
// For inline code
.monospace2 {
    font-family: Consolas, Menlo, Monaco, "Liberation Mono", Courier, monospace;
}

body {
    .serif;
    font-size: 110%;
    line-height: 1.25em;
    color: @text;
    background: @bg;
    width: 80%;
    max-width: 50em;
    min-width: 40em;
    margin: 0 auto;
}

a {
    &:link {
        color: @highlight;
    }
    &:hover {
        color: lighten(@text, 15%);
    }
    &:visited {
        color: lighten(@text, 25%);
    }
}

span.to-top {
    float: right;
    &:nth-of-type(1) {
        display: none;
    }
}

div#header {
    font-variant: small-caps;
    h1, h2 {
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: normal;
        line-height: 1.25em;
        text-shadow: 1px 1px 1px darken(@bg, 30%);
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    margin-bottom: 2em;
}
div#credits {
    font-style: italic;
    color: lighten(@text, 15%);
}
div#info {
    margin-top: 1em;
    div.leftCol {
        float: left;
        padding-right: 1em;
        width: 50%;
    }
    div.rightCol {
        padding-left: 1em;
        float: left;
        border-left: 1px dashed lighten(@text, 60%);
    }
}
li.unnumbered {
    list-style-type: none;
    padding-top: 0.2em;
}
div#toc {
    padding-left: 0;
    font-size: 0.9em;
    ol {
        list-style-type: upper-roman;
        li {
            font-weight: bold;
        }
        ol {
            // margin-top: -0.5em;
            list-style-type: decimal;
            li {
                font-weight: normal;
                li {
                    font-size: 0.9em;
                }
            }
            a:hover {
                background: lighten(@linkBg, 5%);
            }
        }
    }
}

.spacer {
    display: block;
    margin-bottom: 2em;
    clear: both;
}
h3 {
    padding: 0.5em 1em 0.2em 1em;
    font-size: 2em;
    border-bottom: 3px solid @text;
}
h4 {
    padding: 0.5em 1em 0.3em 1.3em;
    font-size: 1.5em;
    border-bottom: 1px dotted @text;
}
h5 {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 0.3em;
}
h6 {
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

h4 + div.question, h5 + div.question, h6 + div.question, div.editor + div.question {
    margin-top: 1em;
}
strong {
    color: @text;
    line-height: 1em;
}

img {
    margin-top: 2em;
}

sup {
    font-size: 0.8em;
    line-height: 0.5em;
}

a.ref, em {
    font-style: italic;
}
a.ref span.bib {
    font-style: normal;
    &:before { content: '['}
    &:after { content: ']'}
}

.shadow(@color, @distance: 5px) {
    -moz-box-shadow:    inset 0 0 @distance @color;
    -webkit-box-shadow: inset 0 0 @distance @color;
    box-shadow:         inset 0 0 @distance @color;
}


.qa-before(@letter) {
    content: @letter;
    font-style: normal;
    font-size: 1.5em;
    float: left;
    display: block;
    margin-right: 0.3em;
}

div.question {
    background: url("img/az_subtle.png") repeat;
    border-left: 2px solid darken(@bg, 10%);
    padding: 0.5em;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.8em;
    // margin-top: 2em;
    margin-bottom: 0;
    &:before {
        .qa-before("Q: ");
    }
    em {
        font-style: normal;
    }
}


div.answer {
    margin-top: 0;
    padding: 2em;
    clear: left;
    border-left: 2px solid darken(@bg, 10%);
    &:before {
        .qa-before("A: ");
        font-size: 2.25em;
        line-height: 1.6em;
    }
    div.question, div.answer {
        margin-left: 25px;
    }
    li {
        margin-bottom: 0.2em;
    }
}
p, ul {
    font-size: 1.1em;
    line-height: 1.4em;
    ul {
        font-size: 0.95em;
    }
}


pre, div.editor, div.CodeMirror {
    .monospace1;
}
code {
    .monospace2;
}
div.editor ul.tabs {
    .sans;
    clear: left;
}
code {
    font-size: 0.7em;
    border: 1px solid @border;
    padding: 0.2em;
    padding-bottom: 0;
    background: @linkBg;
    line-height: 1.3em;
    &:hover {
        background: darken(@linkBg, 2%);
    }
}
// Fallback for CodeMirror
pre {
    white-space: pre-wrap;
    font-size: 0.8em;
    border-left: 1em solid darken(@border, 10%);
    background: @codeBg;
    background: url("img/billie_holiday.png") repeat;
    margin: 2em;
    padding: 0.8em;
    &:hover {
        border-left: 1em solid @border;
    }
}
div.editor {
    margin-top: -1em;
    margin-bottom: 2em;
    ul.tabs {
        display: inline;
        left: 0;
        float: left;
        list-style-type: none;
        text-align: center;
        margin-bottom: -0.2em;
        padding-left: 1px;
        li {
            font-size: 0.7em;
            line-height: 1.1em;
            padding: 0.3em;
            margin-left: -1px;
            display: inline-block;
            border: 1px solid @border;
            .gradient2(darken(@bg, 3%), darken(@bg, 9%));
            &:first-child  {
                border-top-left-radius: 5px;
                font-weight: bold;
                padding-left: 1em;
                padding-right: 1em;
                .gradient2(@bg, darken(@bg, 3%));
            }
            &:last-child {
                border-top-right-radius: 5px;
            }
            &:hover {
                .gradient2(darken(@bg, 1%), darken(@bg, 6%));
            }
            a {
                text-decoration: none;
            }
        }
    }
    div.CodeMirror {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        clear: both;
        border: 1px solid @border;
        font-size: 0.8em;
    }
    .CodeMirror-scroll {
        height: auto;
    }
}

blockquote {
    .quotmark(@symbol, @side) {
        content: @symbol;
        font-style: normal;
        font-size: 4em;
        line-height: 1em;
        float: @side;
        display: block;
        margin-right: 0.3em;
    }
    &:before {
        .quotmark("“", left);
    }
    &:after {
        .quotmark("”", right);
    }
    font-style: italic;
    background: darken(@bg, 5%);
    padding: 0.8em;
    border-left: 5px solid @border;
    border-right: 5px solid @border;
    border-top: 1px dotted @border;
    border-bottom: 1px dotted @border;
    margin-left: 0;
    margin-right: 0;
    em {
        font-style: normal;
    }
    span.cite {
        margin-left: 2em;
        font-style: normal;
        color: lighten(@text, 30%);
    }
}

span.footnote {
    display: none;
}
a.footnote {
    background: @linkBg;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 0.8em;
    line-height: 0.5em;
    position: relative;
    top: -0.4em;
    margin-right: 0.3em;
}
div.footnote {
    position: absolute;
    width: 30%;
    background: darken(@bg, 1%);
    border: 1px solid @border;
    .rounded-corners;
    padding: 1em;
    z-index: 999;
    font-size: 0.9em;
}

div#bibliography {
    // http://www.library.cornell.edu/resrch/citmanage/apa
    font-size: 0.9em;
    line-height: 1.2em;
    ol {
        width: 90%;
        list-style-type: none;
        li {
            margin-bottom: 1em;
            .hanging-indent(2.5em);
            counter-increment: theIndex;
            &:before {
                content: "["counter(theIndex)"] ";
            }

        }
    }
    .book {
        .title {font-style: italic}
    }
    .encyc {
        .encyc {font-style: italic}
    }
    .website {
        .title {font-style: italic}
    }
    .journal-article {
        .journal, .volume {font-style: italic}
    }
}

.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.gradient(@from) {
    .gradient2(@from, darken(@from, 10%));
}
.gradient2(@from, @to) {
    background: @from;
    background: linear-gradient(@from, @to);
    background: -o-linear-gradient(@from, @to);
    background: -moz-linear-gradient( @from, @to);
    background: -webkit-linear-gradient( @from, @to);
    background: -ms-linear-gradient( @from, @to);
}
.hanging-indent(@indent) {
    padding-left: @indent;
    text-indent: -@indent;
}
.rotate(@deg) {
    -moz-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    transform: rotate(@deg);
}
table.comparisons {
    .sans;
    font-size: 0.8em;
    border-spacing: 0;
    margin: -1em auto 3em auto;
    td.cell {
        padding: 0.1em;
        div {
            @size: 1.5em;
            width: @size;
            height: @size;
            border: 2px solid black;
            .rounded-corners(3px);
        }
        &.green div {
	    background-color: #5bbe5b;
	    border-color: #0b6c0b;
        }
        &.red div {
	    background-color: #ed9e98;
	    border-color: #be120d;
        }
    }
    td.header.row {
        text-align: center;
    }
    td.header.col {
	height: 6em;
        span {
            margin-left: 0.5em;
            position: absolute;
            .rotate(90deg);
        }
        // Put 'undefined' and 'NaN' in the center of their column
        &:nth-child(12) span {
            margin-left: -1em;
        }
        &:last-child span {
            margin-left: -0.1em;
        }
    }
}