body {
    font-family: "Crimson Text", Georgia, serif;
}

div#header {
}

div#body {
}

div.qa {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    padding: 0;
}

div.question {
    font-style: italic;
    font-weight: bold;
    font-size: 110%;
    background: ;
    margin: 0;
    padding: 0.5em;
}

div.question:before {
    content: "Q: ";
}

div.answer {
    background: green;
    padding: 0.5em;
}

div.answer p:first-child:before {
    content: "A: ";
}

pre, code {
    font: "Inconsolata", Monaco, Consolas, monospace;
}

pre {
    border: 1px solid #ccc;
    background: #eee;
    margin: 0.5em;
    padding: 0.5em;
}

div#footer {
    border-top: 1px solid #ccc;
    font-size: 90%;
    width: 75%;
    left: 12.5%;
    right: 12.5%;
    position: absolute;
    bottom: 0;
    text-align: center;
}