@basic1: #e4d6a7;
@basic2: #d1bc78;
@dark1: #5f5e39;
@dark2: #494821;
@light1: #fcfaf3;
@light2: #f0ece0;
@highlight: #990033;
@border: #ccc;
@codeBg: #eee;
@codeBorder: #ccc;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.gradient(@from) {
    .gradient2(@from, darken(@from, 10%));
}
.gradient2(@from, @to) {
    background: @from;
    background: linear-gradient(top, @from, @to);
    background: -o-linear-gradient(top, @from, @to);
    background: -moz-linear-gradient(top, @from, @to);
    background: -webkit-linear-gradient(top, @from, @to);
    background: -ms-linear-gradient(top, @from, @to);
}

.shadow(@color, @distance: 5px) {
    -moz-box-shadow:    inset 0 0 @distance @color;
    -webkit-box-shadow: inset 0 0 @distance @color;
    box-shadow:         inset 0 0 @distance @color;
}
body {
    font-family: "Crimson Text", Georgia, serif;
    background: lighten(@basic1, 10%);
}
strong {
    color: @highlight;
}

div#header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    h1 {
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
        font-size: 200%;
    }
}

div#body {
}

div.qa {
    border: 1px solid @dark1;
    margin: 10px;
    padding: 0;
    // .rounded-corners(10px);
}

div.question {
    font-style: italic;
    font-weight: bold;
    font-size: 110%;
    .gradient(@basic1);
    background-clip: padding-box;
    margin: 0;
    padding: 0.5em;
    &:hover {
        .gradient(lighten(@basic1, 5%));
    }
}

div.question:before {
    content: "Q: ";
}

div.answer {
    .gradient2(@light1, @light2);
    padding: 0.5em;
    p:first-child:before {
        content: "A: ";
    }
    &:hover {
        .gradient2(lighten(@light1, 2%), lighten(@light2, 2%));
    }
}

pre, code {
    font: "Inconsolata", Monaco, Consolas, monospace;
}

pre {
    border: 1px solid @codeBorder;
    background: @codeBg;
    .shadow(darken(@codeBg, 10%));
    margin: 0.5em;
    padding: 0.5em;
    &:hover {
        background: lighten(@codeBg, 1%);
    }
}

div#footer {
    border-top: 1px solid @border;
    font-size: 90%;
    width: 75%;
    left: 12.5%;
    right: 12.5%;
    position: absolute;
    bottom: 0;
    text-align: center;
}